
 

.body{
    font-family:poppins, sans-serif;
}

.tokke{
 height: 100vh;
 width: 100%;
 background-image: url(../samy2/1730020250808132553.avif);
 object-fit: cover ;
background-size: 100%;

}

.tokke header{

    height: 20vh;
    width: 100%;
   
}


header{
    height: 20vh;
    width: 100%;
   


}
header nav a{
    color:red;
    text-decoration: none;
    font-size: 2rem;
    padding-left: 30px;
    font-weight: 500;
    font-family: poppins, sans-serif;




}
nav a span{
    font-weight: 900;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;




}





nav{
    display: flex;
    justify-content: space-between  ;
    align-items: center;
      


}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    direction: none;

    
    




}ul li{
  padding: 40px;
  font-size: 1.5rem;
  font-weight: 700;
    
  

 



}


nav ul li  a{
    color: rgb(234, 236, 235);
    transition: 0.8s;
}


nav ul li  :hover{
    color: rgb(255, 132, 0);
    



}




li{
    padding-left: 40px;
    list-style: none;


}
.toke{
    height: 100vh;
    width: 100%;
    



}
.toke h1{

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;


}
.all{

    display: flex;
    justify-content: space-evenly;

}
.took img{
    height: 60vh;
    border-radius: 20px;
    transition: .8s;

}

.took img:hover{
    transform: scale(.9);
}


.took h1{
    font-size: 30px;


}
.took h1 span{
    
    color: rgb(12, 19, 14);

}



.look img{
    height: 60vh;
    border-radius: 20px;
    transition: 0.8s;


}
.look img:hover{

 transform: scale(.9);


}



.look h1{
    font-size: 30px;
}

.look h1 span{
    
    color: rgb(3, 9, 5);

}




.cook img{
    height: 60vh;
    border-radius: 20px;
    transition: 0.8s;



}
.cook img:hover{

 transform: scale(.9);


}


.cook h1{
    font-size: 30px;

}
.cook h1 span{
    
    color: rgb(5, 6, 6);

}



.dook img{
    height: 60vh;
    border-radius: 20px;
    transition: 0.8s;



}
.dook img:hover{

 transform: scale(.9);


}





.dook h1{
    font-size: 30px;
}


.dook h1 span{
    
    color: rgb(3, 5, 4);

}



 .details{
height: 105vh;

background-color:rgb(158, 195, 162);


 }
 .details h1{
    color:white;
    font-size: 3rem;
    font-weight: 900;
    padding-left:20px;
    
 }
 .details p{
    font-weight: 900;
   padding-left: 50px;
    font-size: 1.5em;
    

 }.case {

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;

 }
 .case h2.sugu{
    border: 2px solid;
    padding: 20px;
    margin: 30px;
    transition: 0.8s;
    border-radius: 20PX;


 }

 .case h2:hover{

    color:white;

 }



 .case h2.tugu{
      border: 2px solid;
    padding: 20px;
    margin: 30px;
    transition: 0.8s;
    border-radius: 20PX;



 }
 .case h2.fugu{
      border: 2px solid;
    padding: 20px;
    margin: 30px;
    transition: 0.8s;
    border-radius: 20PX;





 }
 .case h2.vugu{
      border: 2px solid;
    padding: 20px;
    margin: 30px;
    transition: 0.8s;
    border-radius: 20PX;

 }
 
 .main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  

}

 .prabu h1{
    color: black;
    font-size: 30px;
    padding-right: 30PX;
  


 }
 .prabu li{

    padding: 10PX;
    font-weight: 300;

 

 }

 .dhar h1{
    
    color: black;
    font-size: 30px;
  

 }
 .dhar li{

    
    padding: 10PX;
    font-weight: 300;


 }
 .hari h1{
 
   
     color: black;
    font-size: 30px;

 }
.hari li{
     
      padding: 10PX;
    font-weight: 300;


}.hari{
    margin-bottom:70px

}.dhar{



    margin-bottom: 30px;
}
.vijay h1{

   color: yellow;
   font-size: 50px;
   font-weight: 900 ;

   padding-bottom: 10%;

}


